<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestor Clientes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1>Gestor Clientes</h1>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" [routerLink]="['/crearClientes']">Clientes</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" [routerLink]="['/component2']">Articulos</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" [routerLink]="['/component3']">Orden</button>
      </div>
    </div>
  </div>
</body>
</html>
